body {
    background-color: #1E0100;
}

img {
    border: 1px solid #610A05;
    border-radius: 4px;
    padding: 5px;
    width: 175px;
    display: block;
    margin: auto;
    float: left;
}

h1, h2, h3 {
    color: #610A05;
    font-family: 'Algerian Regular';
    border: 2px solid #610A05;
    border-radius: 4px;
    background-color: #8A221D;
}

h2 {
    font-size: 30px;
}

p {
    color: #610A05;
    text-align: left;
    padding: auto;
}

.bio {
    font-size: 33px;
    margin: auto;
}

.second-heading {
    margin-top: 75px;
}